@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
	box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
	display: flex;
	flex-direction: column;
}

.title {
	text-align: center;
}

.img{
	width: 50vw;
	height: 50vh;
	display: flex;
	margin: auto;
	border-radius: 20px;
	object-fit: cover;
}